*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #000000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.panel {
    display: flex;
    margin-right: 10px;
}


.panel a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.panel a:hover {
    background: #000000;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 100vh !important;
    background: url(img/Fondo.png) no-repeat center;
    background-size: cover;
    background-color: #000000;
}

.titulo {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 0, 0);
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #d40621;
    color: #fff;
    text-decoration: none;
    background: #a40116;
}
.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carta {
    padding: 30px;
    background: #000000
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.contenedor .caja {
    height: 11rem;
    width: 17rem;
    background: #383737;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.contenedor .caja h3 {
    font-size: 20px;
    color: #ff0000;

}

.contenedor .caja p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #000000;
}

.price {
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background:#000000
}


.contact {
    padding-top: 20px;
    background: #000000;
    padding-bottom: 0;
}

/* Pseudo-Clases */ 



.btn:active{
    color: green;
}
.titulo:hover{
    color:red;
    text-decoration: line-through;
}
/* Pseudo-Elementos */


.btn::first-letter{
    border:1.5px solid rgb(0, 72, 255);
    background: rgb(0, 0, 0);
}

#hamburguesa::after{
    content: "🍔";
}
#hamburguesa::before{
    content: "🍔";
}
#pizza::after{
    content: "🍕";
}
#pizza:before{
    content: "🍕";
}
#bebida::after {
    content: "🧃";
}
#bebida::before {
    content: "🧃";
}
@media screen and (max-width:1000px){
    .header, .head, .carta, .about, .price, .contact {
        background-color:rgb(61, 39, 12) 
    }
}

@media screen and (max-width:700px){
    .header, .head, .carta, .about, .price, .contact {
        background-color:rgb(6, 0, 29);
}
}

@media (max-width: 768px) {

    .titulo {
        margin-bottom: 0;
        font-size: 40px;
    }
}
    .carta {
        height: 100vh;
    } 
    

@media screen and (orientation:portrait) {

    .portaFoto {
        max-width: 800px;
        max-height: 1200px;
    }
}

@media screen and (orientation:landscape) {
    .portaFoto {
        max-width: 1920px;
        max-height: 1280px;
    }
}